.Top-sort{
    display:flex;
    align-items: center;
    width:200px;
    padding:25px;
}
.Top-sort i{
    color:rgb(240, 248, 5);
    text-shadow: 4px 4px 3px black;
    Font-size:60px;
}
.text{
    text-shadow: 2px 2px 2px black;
font-size:large;
font-weight:bold;
display :flex;
flex-direction: column;
margin:0px;
padding:0px;
}